<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/homeStyle.css'>
</head>
<body>
    <%-include('includes/nav.ejs')%>

    <div class="container">
        <%for(i = 0; i < data.length; i++){%>
            <div class="card-wrapper">
                <div class="card">
                    <h1 class="title"><%=data[i].title%></h1>
                    <div class="image-wrapper">
                        <img src="<%=data[i].image%>" alt="<%=data[i].title%>">
                    </div>
                    
                    <h2 class="price">$<%=data[i].price%></h2>
                    <p class="description"><%=data[i].description%></p>
                    <%if(isLoggedIn && !isAdmin){%>
                        <form action="/addCart" method="POST">
                            <input type="hidden" name="id" value = "<%=data[i]._id%>">
                            <button class= "button-style add-to-cart" type = "submit">Add To Cart</button>
                        </form>
                    <%}%>
                </div>
            </div>
        <%}%>
    </div>
</body>
</html>